form {
	max-width: 500px;
	margin: 0 10px;
}

h1 {
	font-weight: 100;
	color: white;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(79, 98, 148);
}

.form {
	background: #0e101c;
	max-width: 400px;
	margin: 0 auto;
}

p {
	color: #bf1650;
	width: inherit;
}

p::before {
	display: inline;
	content: '⚠ ';
}

// input {
// 	display: block;
// 	box-sizing: border-box;
// 	width: 100%;
// 	border-radius: 4px;
// 	border: 1px solid white;
// 	padding: 10px 15px;
// 	margin-bottom: 10px;
// 	font-size: 14px;
// }

label {
	line-height: 2;
	text-align: left;
	display: block;
	margin-bottom: 13px;
	margin-top: 20px;
	color: white;
	font-size: 14px;
	font-weight: 200;
}

button {
	cursor: pointer;
	color: white;
	text-transform: uppercase;
	border: none;
	margin-top: 40px;
	padding: 20px;
	font-size: 16px;
	font-weight: 100;
	transition: 0.1s all;
}

button:hover {
	background: #aa59ec;
  color: rgb(241, 226, 226);
}

button:active {
	transition: 0.3s all;
	transform: translateY(3px);
	border: 1px solid transparent;
	opacity: 0.8;
}

button {
	display: block;
	appearance: none;
	background: #333;
	color: #fff;
	margin-top: 40px;
	border: 1px solid #333;
	margin-bottom: 20px;
	text-transform: uppercase;
	padding: 10px 20px;
	border-radius: 4px;
}
