* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: radial-gradient(
		circle at 0% 0%,
		#373b52,
		#252736 51%,
		#1d1e26
	);
	display: flex;
	align-items: center;
	justify-content: center;
}

.input_container {
	display: flex;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	padding: 1.4rem 2rem 1.6rem;
	background: rgba(57, 63, 84, 0.8);
	border-bottom: 2px solid #fff;
}

input {
	border: 0;
	outline: 0;
	width: 100%;
	max-width: 400px;
	padding: 0 15px;
	appearance: none;
	border-radius: 2px;
	background: rgba(57, 63, 84, 0.8);
	border-bottom: 2px solid #fff;
	color: #bfd2ff;
	font-size: 18px;
	line-height: 2.4rem;
	&::placeholder {
		color: #7881a1;
	}
}
